.e-nav-item{
	color:white;
	text-decoration:none;
}

.e-nav-item:hover{
	color:gray;
}

body{
	background-color:black;
}

.btn{
	background-color:#614abd;
	padding:8px 25px 8px 25px;
	border-radius:50px;
}
