.e-nav-item{
	color:white;
	text-decoration:none;
}

.e-nav-item:hover{
	color:gray;
}

body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: black;
  color: white;
}

.btn{
	background-color:#614abd;
	padding:8px 25px 8px 25px;
	border-radius:50px;
	color:white;
}
.btn:hover{
	background-color:#a58aff;
}

.img{
	border-radius:150px;
	width:75%;
}

#mySidenav a {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#contact {
  top: 200px;
  background-color: #555
}
