.e-nav-item{
	color:white;
	text-decoration:none;
}

.e-nav-item:hover{
	color:gray;
}

body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: black;
  color: white;
}

.btn{
	background-color:#614abd;
	padding:8px 25px 8px 25px;
	border-radius:50px;
	color:white;
}
.btn:hover{
	background-color:#a58aff;
}

.img{
	border-radius:150px;
	width:75%;
}
